@import url("./slider.css");

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 450px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 34px;
  width: 34px;
  will-change: filter;
  transition: filter 300ms;
  padding: 4px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}
.logo.crx:hover {
  filter: drop-shadow(0 0 2em #f2bae4aa);
}


.card {
  /* padding: 2em; */
  margin-bottom: 16px;

  display: flex;
  align-items: center;

  gap: 6px;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 7px 15px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#eq-toggle-btn {
  width: 110px;
  transition: background 0.2s, border-color 0.25s;

  margin-right: auto;
}

#eq-toggle-btn.on {
  /* background: #1db954;  */
  background: rgba(250, 72, 111, 1);
  /* color: #fff; */
}





.top-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #232323;
  /* padding: 10px 18px 10px 12px; */
  border-radius: 10px;
  margin-bottom: 16px;
}

.top-panel-left {
  display: flex;
  align-items: center;
  gap: 10px;
}


.app-title {
  font-size: 1.25em;
  font-weight: 600;
  /* margin-right: 6px; */
}

.app-version {
  font-size: 0.95em;
  color: #aaa;
  align-self: flex-end;
  margin-left: 2px;
}

.top-panel-links {
  display: flex;
  align-items: center;
  gap: 8px;
}

.top-panel-link {
  display: flex;
  align-items: center;
  background: #232323;
  border-radius: 6px;
  padding: 4px;
  transition: background 0.2s;
  color: #fff;
  text-decoration: none;
}

.top-panel-link:hover {
  background: #333;
  color: #fff;
}

.top-panel-link svg {
  width: 24px;
  height: 24px;
}


.sliders-row {
  display: flex;
  gap: 12px;
  justify-content: center;
  /* padding: 25px; */
}




.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px); /* додаємо розмиття */
  -webkit-backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Анімація появи модального вікна */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.98);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.modal-content {
  background-color: #242424;
  margin: 10% auto;
  padding: 0;
  gap: 0;
  min-width: 320px;
  max-width: 80vw;
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  animation: modalFadeIn 0.32s cubic-bezier(.33,1.5,.68,1) both;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #232323;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  padding: 10px 22px 10px 22px;
  border-bottom: 1px solid #292929;
}

.modal-title {
  font-size: 1.18em;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.01em;
}

.close {
  color: #aaa;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
  background: none;
  border: none;
  outline: none;
  z-index: 2;
  padding: 0 2px;
}

.close:hover {
  color: #646cff;
}

.modal-body {
  padding: 10px 22px 10px 22px;
  background: #232323;
}

#preset-name-input {
  border-radius: 8px;
  border: 1px solid #444;
  background: #181818;
  color: #fff;
  font-size: 1em;
  padding: 10px 12px;
  width: 100%;
  font-family: inherit;
  transition: border-color 0.2s;
  outline: none;
}

#preset-name-input:focus,
#preset-name-input:hover {
  border-color: #646cff;
}


.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  background: #232323;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 10px 22px 10px 22px;
  border-top: 1px solid #292929;
}

select#presets-select {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 6px 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #fff;
  cursor: pointer;
  transition: border-color 0.25s;
}

select#presets-select:hover {
  border-color: #646cff;
}

select#presets-select:focus,
select#presets-select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




