
@property --glow-color {
  syntax: '<color>';
  initial-value: rgba(250, 72, 111, 1);
  inherits: true;
}

.eq-toggle-btn {
    margin-right: 8px;
    /* padding: 8px; */
    border-radius: 8px;
    border: none;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
    height: 32px;
    width: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    /* order: -1; */

    --glow-color: rgba(250, 72, 111, 1);
}

.eq-toggle-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%;

  background: radial-gradient(circle, var(--glow-color), transparent 80%);

  filter: blur(10px);

  z-index: -1;
  opacity: 0;

  transition: opacity 0.3s, --glow-color 0.5s linear;
  pointer-events: none;
}

.eq-toggle-btn.on::before {
  opacity: 1;
}

.eq-toggle-btn img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  /* Make icon white */
  filter: brightness(0) invert(1);
}



/* MARK: Visualizer Styles */
.visualizer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    background: rgba(255, 0, 0, 0.4);
}

.visualizer-container canvas {
    width: 100%;
    height: 100%;
}
