
/* 1. Оголошуємо змінну як колір, щоб браузер вмів її анімувати */
@property --glow-color {
  syntax: '<color>';
  initial-value: rgba(250, 72, 111, 1); /* Твій дефолтний рожевий */
  inherits: true;
}

.eq-toggle-btn {
    margin-right: 8px;
    /* padding: 8px; */
    border-radius: 8px;
    border: none;
    background: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s, box-shadow 0.2s;
    height: 32px;
    width: 40px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;
    /* order: -1; */

    --glow-color: rgba(250, 72, 111, 1);
}

/* .eq-toggle-btn.on {
    background: rgb(250, 72, 111, 0.8);
    box-shadow: 0 0 12px 4px rgba(250, 72, 111, 0.7), 0 0 2px 1px rgba(250, 72, 111, 0.5);
} */

.eq-toggle-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 100%;

  /* background: radial-gradient(circle, rgba(250, 72, 111, 1), transparent 100%); */
  background: radial-gradient(circle, var(--glow-color), transparent 80%);

  filter: blur(10px);

  z-index: -1;
  opacity: 0;

  transition: opacity 0.3s, --glow-color 0.5s linear;
  pointer-events: none;
}

.eq-toggle-btn.on::before {
  opacity: 1;
}

.eq-toggle-btn img {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  /* Make icon white */
  filter: brightness(0) invert(1);
}












